[submodule "projects/bbi-accuzip-api"]
	path = projects/bbi-accuzip-api
	url = git@github.com:jchoi2x/bbi-accuzip-api.git
[submodule "projects/bbi-cron-php"]
	path = projects/bbi-cron-php
	url = git@github.com:jchoi2x/bbi-cron-php.git
[submodule "projects/bbi-sst"]
	path = projects/bbi-sst
	url = git@github.com:jchoi2x/bbi-sst.git
[submodule "projects/bbi-tf"]
	path = projects/bbi-tf
	url = git@github.com:jchoi2x/bbi-tf.git
